<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
  (function (f, a, t, h, o, m) {
      a[h] = a[h] || function () {
          (a[h].q = a[h].q || []).push(arguments)
      };
      o = f.createElement('script'),
          m = f.getElementsByTagName('script')[0];
      o.async = 1; o.src = t; o.id = 'fathom-script';
      m.parentNode.insertBefore(o, m)
  })(document, window, '//stats.shivpatel.io/tracker.js', 'fathom');
  fathom('set', 'siteId', 'KBCIU');
  fathom('trackPageview');
</script>
<!-- / Fathom -->